<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
</dict>
</plist>
